<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
</dict>
</plist>
